<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
</dict>
</plist>
